* {
	margin: 0;
	padding: 5px;
}

.wrapper {
	margin: 0 auto;
	width: 1000px;
}

.img-lauren {
	width: 400px;
}

.img-frank {
	width: 400px;
}
.img-asspizza {
	width: 400px;
}

.img-selfportrait {
	width: 400px;
}
.img-jesus {
	width: 400px;
}

.img-dog {
	width: 400px;
}
.img-devil {
	width: 400px;
}


.img-girl {
	width: 400px;
}

.img-ceo {
	width: 400px;
}
.img-kirb {
	width: 400px;
}

.img-brothers {
	width: 400px;
}
.img-pill {
	width: 400px;
}


.img-chanel {
	width: 400px;
}
.img-shoe {
	width: 400px;
}


.img-shoes {
	width: 400px;
}
.img-vader {
	width: 400px;
}


.img-god {
	width: 400px;
}
.img-yahoo {
	width: 400px;
}


